#listaratribuicao {
  background-color: var(--azul2);
  padding: 30px;
}

#semSolicitacoes {
  font-family: "DejaVu Serif";
  color: var(--creme);
  margin: 1vw;
  padding: auto;
}

.bola-status {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 4px;
}