<div class="row mainAzul">
  <div class="col-md-4 containerTituloPagina">
    <img
      src="../../../../assets/images/backgroundTitle.png"
      class="imgFundoTitulo"
    />
    <div class="tituloPagina"><h1>Atribuições</h1></div>
  </div>

  <div class="col-md-8 mx-auto px-0">
    <div class="containerTabela">
      <div class="tabela">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Data</th>
              <th>Cliente</th>
              <th>Estado da Solicitação</th>
              <th>Descrição</th>
              <th colspan="2">Ações</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let solicitacao of solicitacoes">
              <td>
                <span
                  class="bola-status"
                  [style.background-color]="getCorStatus(solicitacao.estado)"
                ></span>
              </td>
              <td>{{ solicitacao.data }}</td>
              <td>{{ buscarNomeCliente(solicitacao.idCliente) }}</td>
              <td>{{ solicitacao.estado }}</td>
              <td>{{ solicitacao.descricao }}</td>
              <td style="border-right: 0">
                <a
                  *ngIf="solicitacao.estado === 'ABERTA'"
                  class="btn btnRosaCha btnTabela"
                  [routerLink]="['/adm/solicitacao/visualizar', solicitacao.id]"
                  title="Orçar"
                  >Realizar<br />Orçamento</a
                >
                <a
                  *ngIf="
                    solicitacao.estado === 'APROVADA' ||
                    solicitacao.estado === 'REDIRECIONADA'
                  "
                  [routerLink]="['/adm/solicitacao/visualizar', solicitacao.id]"
                  class="btn btnRosaCha btnTabela"
                  title="Consertar"
                  >Realizar<br />Manutenção</a
                >
                <a
                  *ngIf="solicitacao.estado === 'PAGA'"
                  class="btn btnRosaCha btnTabela"
                  (click)="this.finalizar(solicitacao)"
                  title="Finalizar"
                  >Finalizar<br />Solicitação</a
                >
              </td>
              <td style="border-left: 0">
                <a
                  class="btnIcon"
                  [routerLink]="['/adm/solicitacao/visualizar', solicitacao.id]"
                  title="Visualizar"
                >
                  <i class="fa-solid fa-eye" aria aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <p class="m-3" *ngIf="solicitacoes.length === 0">
      Nenhuma Solicitação Atribuidda.
    </p>

    <div class="d-flex justify-content-end gap-3 mt-4">
      <a class="btn btnRosaSalmao" title="Voltar" routerLink="/adm/home">
        <i class="fa-solid fa-location-arrow btnVoltar"></i>
      </a>
    </div>
  </div>
</div>
