<div id="clienthome" class="row">
  <div class="col-md-4" id="containerImagem">
    <img
      src="../../../../assets/images/backgroundTitle.png"
      class="backgroundimg"
    />
    <div id="tituloImagem"><h1>Início</h1></div>
  </div>

  <div class="col-md-8 d-flex flex-column">
    <a
      class="btn btn-xs botao1"
      [routerLink]="['/client/solicitacao/novo']"
      title="Nova Solicitação"
      style="margin-left: auto;"
    >
      <i class="fa-solid fa-plus" aria aria-hidden="true"></i>&nbsp;&nbsp;Nova
      Solicitação
    </a>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição do defeito</th>
          <th>Estado da Solicitação</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let solicitacao of solicitacoes">
          <td>{{ solicitacao.data }}</td>
          <td>{{ solicitacao.descricao }}</td>
          <td>{{ solicitacao.estado }}</td>
          <td class="text-center" style="border-right: 0;">
            <a
              *ngIf="solicitacao.estado === 'ORÇADA'"
              class="btn btn-xs btn-rosa-cha"
              [routerLink]="['/client/solicitacao/visualizar', solicitacao.id]"
              title="Ação"
              >Aprovar/Rejeitar Serviço
            </a>
            <a
              *ngIf="solicitacao.estado === 'REJEITADA'"
              class="btn btn-xs btn-rosa-cha"
              (click)="this.resgatar($event, solicitacao)"
              title="Ação"
              >Resgatar Serviço
            </a>
            <a
              *ngIf="solicitacao.estado === 'ARRUMADA'"
              class="btn btn-xs btn-rosa-cha"
              [routerLink]="['/client/solicitacao/visualizar', solicitacao.id]"
              title="Ação"
              >Pagar Serviço
            </a>
          </td>
          <td class="text-center" style="border-left: 0;">
            <a
              class="btn btn-xs icon-olho"
              [routerLink]="['/client/solicitacao/visualizar', solicitacao.id]"
              title="Visualizar"
            >
              <i class="fa-solid fa-eye" aria aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="solicitacoes.length === 0">Nenhuma Solicitação Cadastrada.</p>
  </div>
</div>
