<div class="row">
  <div class="col-md-4">
    <img
      src="../../../../assets/images/backgroundTitle.png"
      class="backgroundimg"
    />
  </div>

  <div class="col-md-8">
    <a
      class="btn btn-xs btn-info"
      [routerLink]="['/client/solicitacao/novo']"
      title="Nova Solicitação"
    >
      <i class="fa-solid fa-plus" aria aria-hidden="true"></i>&nbsp;&nbsp;Nova
      Solicitação
    </a>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição do defeito</th>
          <th>Estado da Solicitação</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let solicitacao of solicitacoes">
          <td>{{ solicitacao.data }}</td>
          <td>{{ solicitacao.descricao }}</td>
          <td>{{ solicitacao.estado }}</td>
          <td class="text-center">
            <a class="btn btn-xs btn-info" title="Visualizar">Botão de Ação</a>
          </td>
          <td class="text-center">
            <a
              class="btn btn-xs btn-info"
              [routerLink]="['/client/solicitacao/visualizar', solicitacao.id]"
              title="Visualizar"
            >
              <i class="fa-solid fa-eye" aria aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="solicitacoes.length === 0">Nenhuma Solicitação Cadastrada.</p>
  </div>
</div>
