<div class="row d-flex justify-content-center mainCreme gap-5">
  <!--Caixa Esquerda-->
  <div class="col-md-4 d-flex flex-column align-items-center">
    <!--Exibe o orçamento, caso exista-->
    <div *ngIf="solicitacao.estado !== EstadosSolicitacao.Aberta" class="box">
      <h6 class="tituloPequeno">VALOR</h6>
      <h2>{{ solicitacao.valor | currency: "BRL" }}</h2>
      <p class="subtitulo">
        <i
          >Orçamento feito por funcionario
          <strong>Funcionario que fez o orçamento vai aqui</strong> em
          <strong>Data em que orçamento foi feito vai aqui</strong></i
        >
      </p>
    </div>
    <!--Exibe detalhes da manutenção, caso exista-->
    <div
      *ngIf="solicitacao.servico && solicitacao.servico.trim() !== ''"
      class="box"
    >
      <h6 class="subtituloRosa">SERVIÇOS REALIZADOS</h6>
      <p>{{ solicitacao.servico }}</p>
    </div>

    <!--Botões de Ação-->
    <div>
      <!--Fazer orçamento-->
      <a
        *ngIf="solicitacao.estado === EstadosSolicitacao.Aberta"
        class="btn btnRosaSalmao btnAcao"
        title="Orçar"
        (click)="abrirModalOrcar()"
      >
        <i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;&nbsp;Realizar
        Orçamento
      </a>

      <!--Configurações da modal box-->
      <app-modal
        #Modal
        [modalTitle]="currentModalTitle"
        [contentTemplate]="currentContentTemplate"
        [templateContext]="{ formData: currentFormData }"
        (confirmed)="confirmar($event)"
      >
      </app-modal>

      <!--Modal box de orçamento-->
      <ng-template #orcarTemplate let-formData="formData">
        <div class="d-flex flex-column align-items-center">
        <form #form="ngForm">
          <div>
            <label>Valor do Serviço</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="formData.valor"
              name="valor"
              maxlength="10"
              currencyMask
              [options]="{
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                precision: 2
              }"
              required
            />
          </div>
        </form>
      </div>
      </ng-template>

      <!--Fazer manutenção-->
      <a
        *ngIf="
          solicitacao.estado === EstadosSolicitacao.Aprovada ||
          solicitacao.estado === EstadosSolicitacao.Redirecionada
        "
        class="btn btnRosaSalmao btnAcao"
        title="Consertar"
        (click)="abrirModalConsertar()"
      >
        <i class="fa-solid fa-gears"></i>&nbsp;&nbsp;Efetuar Manutenção
      </a>

      <!--Modal box de manutenção-->
      <ng-template #consertarTemplate let-formData="formData">
        <form #form="ngForm">
          <div>
            <label>Serviços Realizados</label>
            <textarea
              class="form-control"
              [(ngModel)]="formData.servico"
              name="servico"
              required
            ></textarea>
          </div>
          <div>
            <label>Orientações para o cliente</label>
            <textarea
              class="form-control"
              [(ngModel)]="formData.mensagem"
              name="mensagem"
              required
            ></textarea>
          </div>
        </form>
      </ng-template>

      <!--Redirecionamento de solicitação-->
      <a
        *ngIf="
          solicitacao.estado === EstadosSolicitacao.Aprovada ||
          solicitacao.estado === EstadosSolicitacao.Redirecionada
        "
        class="btn btnTransparenteSalmao btnAcao"
        title="Redirecionar"
        (click)="abrirModalRedirecionar()"
      >
        <i class="fa-solid fa-user-gear"></i>&nbsp;&nbsp;Redirecionar
        Solicitação
      </a>

      <!--Modal box de redirecionamento-->
      <ng-template #redirecionarTemplate let-formData="formData">
        <div class="d-flex flex-column align-items-center">
        <form #form="ngForm">
          <div>
            <label>Selecione o Funcionário</label>
            <select
              class="form-control"
              [(ngModel)]="formData.idEmpregado"
              name="idEmpregado"
              required
            >
            <ng-container *ngFor="let f of funcionarios">
              <option *ngIf="f.id !== usuario" [value]="f.id">
                {{ f.nome }}
              </option>
            </ng-container>
            </select>
          </div>
        </form>
      </div>
      </ng-template>

      <!--Finalização dos serviços-->
      <a
        *ngIf="solicitacao.estado === EstadosSolicitacao.Paga"
        class="btn btnRosaSalmao btnAcao"
        title="Finalizar"
        (click)="finalizar()"
      >
        <i class="fa-solid fa-check-to-slot"></i>&nbsp;&nbsp;Finalizar
        Solicitação
      </a>

      <!--Exibe o histórico-->
        <a
          class="btn btnRosaSalmao btnAcao"
          title="Histórico"
          (click)="toggleHist()"
        >
          <i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Histórico
        </a>
        <div *ngIf="isHistOpen" class="box" style="background-color: #e4a18f20;">
          <p style="white-space: pre-line">Histórico vai aqui</p>
        </div>
      </div>
  </div>

  <!--Caixa direita (detalhes)-->
  <div class="col-md-4">
    <h1 class="tituloGrande">DETALHES DA<br />SOLICITAÇÃO</h1>
    <hr />
    <div>
      <h6 class="subtituloRosa">ESTADO DA SOLICITAÇÃO</h6>
      <p>{{ solicitacao.estado | estadoAmigavel }}</p>
    </div>
    <hr />
    <div class="position-relative">
      <div>
        <h6 class="subtituloRosa">CLIENTE</h6>
        <p>{{ cliente?.nome }}</p>
      </div>
      <button
        class="btnIcon position-absolute end-0 top-50 translate-middle-y"
        (click)="toggleClientView()"
        title="Visualizar"
      >
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
    <div *ngIf="isClientOpen" class="text-start">
      <p>
        <strong>CPF:</strong> {{ cliente?.cpf }}<br />
        <strong>Email:</strong> {{ cliente?.email }}<br />
        <strong>Telefone:</strong> {{ cliente?.telefone }}<br />
        <strong>Endereço:</strong> {{ cliente?.endereco }}
      </p>
    </div>
    <hr />
    <div>
      <h6 class="subtituloRosa">DATA E HORA</h6>
      <p>{{ solicitacao.dataAberta | date: 'dd/MM/yyyy - HH:mm' }}</p>
    </div>
    <hr />

    <div class="position-relative">
      <div>
        <h6 class="subtituloRosa">EQUIPAMENTO</h6>
        <p>{{ equipamento?.nome }}</p>
      </div>
      <button
        class="btnIcon position-absolute end-0 top-50 translate-middle-y"
        (click)="toggleEquipView()"
        title="Visualizar"
      >
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
    <div *ngIf="isEquipOpen" class="text-start">
      <p>
        <strong>Descrição da categoria do equipamento:</strong>
        {{ equipamento?.descricao }}<br />
        <strong>Descrição deste equipamento:</strong>
        {{ solicitacao.descricao }}
      </p>
    </div>
    <hr />
    <div>
      <h6 class="subtituloRosa">DEFEITO</h6>
      <p>{{ solicitacao.defeito }}</p>
    </div>
    <hr />
    <div class="d-flex justify-content-end">
      <a class="btn btnRosaSalmao" routerLink="/adm/home">
        <i class="fa-solid fa-location-arrow btnVoltar"></i>
      </a>
    </div>
  </div>
</div>
