<div id="visualizar-solicitacao" class="row align-items-start bg-creme">
  <div class="col-md-6 text-center">
    <br />
    <div *ngIf="solicitacao.estado !== 'ABERTA'" id="boxOrcamento">
      <h5 class="titulo-box">VALOR</h5>
      <h2 class="valor-box">{{ orcamento.valor | currency: "BRL" }}</h2>
      <p class="azul2">
        Orçamento feito por funcionario {{ nomeFuncionarioOrc }} em
        {{ orcamento.data }}
      </p>
    </div>
    <div
      *ngIf="solicitacao.manutencao && solicitacao.manutencao.trim() !== ''"
      id="boxServico"
    >
      <h3>Serviços Realizados</h3>
      <p>{{ solicitacao.manutencao }}</p>
    </div>
    <div class="d-flex flex-column">
      <a
        *ngIf="solicitacao.estado === 'ABERTA'"
        class="btn btn-xs btn-rosa-salmao"
        title="Orçar"
        (click)="abrirModalOrcar()"
      >
        <i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;&nbsp;Realizar
        Orçamento
      </a>
      <app-modal
        #Modal
        [modalTitle]="currentModalTitle"
        [contentTemplate]="currentContentTemplate"
        [templateContext]="{ formData: currentFormData }"
        (confirmed)="confirmar($event)"
      >
      </app-modal>
      <ng-template #orcarTemplate let-formData="formData">
        <form #form="ngForm">
          <div class="mb-3">
            <label>Valor do Serviço</label>
            <textarea
              class="form-control"
              [(ngModel)]="formData.valor"
              name="valor"
              required
            >
            </textarea>
          </div>
        </form>
      </ng-template>
      <a
        *ngIf="
          solicitacao.estado === 'APROVADA' ||
          solicitacao.estado === 'REDIRECIONADA'
        "
        class="btn btn-xs botao1 w-50"
        title="Consertar"
        (click)="abrirModalConsertar()"
      >
        <i class="fa-solid fa-gears"></i>&nbsp;&nbsp;Efetuar Manutenção
      </a>
      <ng-template #consertarTemplate let-formData="formData">
        <form #form="ngForm">
          <div class="mb-3">
            <label>Serviços Realizados</label>
            <textarea
              class="form-control"
              [(ngModel)]="formData.manutencao"
              name="manutencao"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <label>Orientações para o cliente</label>
            <textarea
              class="form-control"
              [(ngModel)]="formData.mensagem"
              name="mensagem"
              required
            ></textarea>
          </div>
        </form>
      </ng-template>
      <a
        *ngIf="
          solicitacao.estado === 'APROVADA' ||
          solicitacao.estado === 'REDIRECIONADA'
        "
        class="btn btn-xs btn-creme w-50"
        title="Redirecionar"
        (click)="abrirModalRedirecionar()"
      >
        <i class="fa-solid fa-user-gear"></i>&nbsp;&nbsp;Redirecionar
        Solicitação
      </a>
      <ng-template #redirecionarTemplate let-formData="formData">
        <form #form="ngForm">
          <div class="mb-3">
            <label>Selecione o Funcionário</label>
            <select
              class="form-control"
              [(ngModel)]="formData.idEmpregado"
              name="idEmpregado"
              required
            >
              <option *ngFor="let f of funcionarios" [value]="f.id">
                {{ f.nome }}
              </option>
            </select>
          </div>
        </form>
      </ng-template>
      <a
        *ngIf="solicitacao.estado === 'PAGA'"
        class="btn btn-xs btn-rosa-salmao"
        title="Finalizar"
        (click)="finalizar()"
      >
        <i class="fa-solid fa-check-to-slot"></i>&nbsp;&nbsp;Finalizar
        Solicitação
      </a>
      <div>
        <a
          class="btn btn-xs botao1 w-50"
          title="Histórico"
          (click)="toggleHist()"
        >
          <i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Histórico
        </a>
        <div *ngIf="isHistOpen">
          <p style="white-space: pre-line">{{ solicitacao.historico }}</p>
        </div>
      </div>
    </div>
  </div>

  <div id ="detalhes" class="col-md-6 detalhes-solicitacao text-center mx-auto">
    <br /><br />
    <h1 class="detalhes-box">DETALHES DA<br>SOLICITAÇÃO</h1>
    <hr />

    <!-- Estado solicitação -->
    <div class="linha-detalhe">
      <h6 class="titulo">Estado da Solicitação</h6>
      <p>{{ solicitacao.estado }}</p>
    </div>
    <hr />

    <!-- Cliente -->
    <div class="linha-detalhe position-relative">
      <div class="text-center">
        <h6 class="titulo">CLIENTE</h6>
        <p>{{ cliente?.nome }}</p>
      </div>
      <button
        class="btn icon-olho position-absolute end-0 top-50 translate-middle-y"
        (click)="toggleClientView()"
        title="Visualizar"
      >
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
    <div *ngIf="isClientOpen" class="texto-expandido text-start">
      <p class="text-center">
        CPF: {{ cliente?.cpf }}<br />
        Email: {{ cliente?.email }}<br />
        Telefone: {{ cliente?.telefone }}<br />
        Endereço: {{ cliente?.endereco }}
      </p>
    </div>
    <hr />

    <!-- Data e Hora -->
    <div class="linha-detalhe">
      <h6 class="titulo">DATA E HORA</h6>
      <p>{{ solicitacao.data }}</p>
    </div>
    <hr />

    <!-- Equipamento -->
    <div class="linha-detalhe position-relative">
      <div class="text-center">
        <h6 class="titulo">EQUIPAMENTO</h6>
        <p>{{ equipamento?.nome }}</p>
      </div>
      <button
        class="btn icon-olho position-absolute end-0 top-50 translate-middle-y"
        (click)="toggleEquipView()"
        title="Visualizar"
      >
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
    <div *ngIf="isEquipOpen" class="texto-expandido text-start">
      <p class="text-center">
        <strong>Descrição da categoria do equipamento:</strong>
        {{ equipamento?.descricao }}<br />
        <strong>Descrição deste equipamento:</strong>
        {{ solicitacao.descricao }}
      </p>
    </div>
    <hr />

    <!-- Defeito -->
    <div class="linha-detalhe">
      <h6 class="titulo">DEFEITO</h6>
      <p>{{ solicitacao.defeito }}</p>
    </div>
  </div>
</div>
