#visualizar-solicitacao {
    padding: 30px;

}

#detalhes {
    font-family: "DejaVu Serif";
}

.detalhes-box {
    font-family: "Blackest Text";
    color: #3f5f72;
    font-weight: bold;
    letter-spacing: 1px;
}

.titulo-box {
    font-family: "Blackest Text";
    font-size: 2rem;
    color: var(--primary-color-dark);
    letter-spacing: 1px;
}

