<div class="row d-flex justify-content-center mainCreme">
  <div class="col-md-4 d-flex flex-column align-items-center">
    <div *ngIf="solicitacao.estado !== EstadosSolicitacao.Aberta" class="box">
      <h6 class="tituloPequeno">VALOR</h6>
      <h2>{{ orcamento.valor | currency: "BRL" }}</h2>
      <p class="subtitulo">
        <i
          >Orçamento feito por funcionario
          <strong>{{ nomeFuncionarioOrc }}</strong> em
          <strong>{{ orcamento.data }}</strong></i
        >
      </p>
    </div>
    <div
      *ngIf="solicitacao.manutencao && solicitacao.manutencao.trim() !== ''"
      class="box"
    >
      <h6 class="subtituloRosa">SERVIÇOS REALIZADOS</h6>
      <p>{{ solicitacao.manutencao }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <a
        *ngIf="solicitacao.estado === EstadosSolicitacao.Aberta"
        class="btn btnRosaSalmao btnAcao"
        title="Orçar"
        (click)="abrirModalOrcar()"
      >
        <i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;&nbsp;Realizar
        Orçamento
      </a>
      <app-modal
        #Modal
        [modalTitle]="currentModalTitle"
        [contentTemplate]="currentContentTemplate"
        [templateContext]="{ formData: currentFormData }"
        (confirmed)="confirmar($event)"
      >
      </app-modal>
      <ng-template #orcarTemplate let-formData="formData">
        <form #form="ngForm">
          <div class="mb-3">
            <label>Valor do Serviço</label>
            <textarea
              class="form-control"
              [(ngModel)]="formData.valor"
              name="valor"
              required
            >
            </textarea>
          </div>
        </form>
      </ng-template>
      <a
        *ngIf="
          solicitacao.estado === EstadosSolicitacao.Aprovada ||
          solicitacao.estado === EstadosSolicitacao.Redirecionada
        "
        class="btn btnRosaSalmao btnAcao"
        title="Consertar"
        (click)="abrirModalConsertar()"
      >
        <i class="fa-solid fa-gears"></i>&nbsp;&nbsp;Efetuar Manutenção
      </a>
      <ng-template #consertarTemplate let-formData="formData">
        <form #form="ngForm">
          <div class="mb-3">
            <label>Serviços Realizados</label>
            <textarea
              class="form-control"
              [(ngModel)]="formData.manutencao"
              name="manutencao"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <label>Orientações para o cliente</label>
            <textarea
              class="form-control"
              [(ngModel)]="formData.mensagem"
              name="mensagem"
              required
            ></textarea>
          </div>
        </form>
      </ng-template>
      <a
        *ngIf="
          solicitacao.estado === EstadosSolicitacao.Aprovada ||
          solicitacao.estado === EstadosSolicitacao.Redirecionada
        "
        class="btn btnTransparenteSalmao btnAcao"
        title="Redirecionar"
        (click)="abrirModalRedirecionar()"
      >
        <i class="fa-solid fa-user-gear"></i>&nbsp;&nbsp;Redirecionar
        Solicitação
      </a>
      <ng-template #redirecionarTemplate let-formData="formData">
        <form #form="ngForm">
          <div class="mb-3">
            <label>Selecione o Funcionário</label>
            <select
              class="form-control"
              [(ngModel)]="formData.idEmpregado"
              name="idEmpregado"
              required
            >
              <option *ngFor="let f of funcionarios" [value]="f.id">
                {{ f.nome }}
              </option>
            </select>
          </div>
        </form>
      </ng-template>
      <a
        *ngIf="solicitacao.estado === EstadosSolicitacao.Paga"
        class="btn btnRosaSalmao btnAcao"
        title="Finalizar"
        (click)="finalizar()"
      >
        <i class="fa-solid fa-check-to-slot"></i>&nbsp;&nbsp;Finalizar
        Solicitação
      </a>
      <div class="d-flex flex-column align-items-center">
        <a
          class="btn btnRosaSalmao btnAcao"
          title="Histórico"
          (click)="toggleHist()"
        >
          <i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Histórico
        </a>
        <div *ngIf="isHistOpen">
          <p style="white-space: pre-line">{{ solicitacao.historico }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h1 class="tituloGrande">DETALHES DA<br />SOLICITAÇÃO</h1>
    <hr />
    <div>
      <h6 class="subtituloRosa">ESTADO DA SOLICITAÇÃO</h6>
      <p>{{ solicitacao.estado | estadoAmigavel }}</p>
    </div>
    <hr />
    <div class="position-relative">
      <div>
        <h6 class="subtituloRosa">CLIENTE</h6>
        <p>{{ cliente?.nome }}</p>
      </div>
      <button
        class="btnIcon position-absolute end-0 top-50 translate-middle-y"
        (click)="toggleClientView()"
        title="Visualizar"
      >
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
    <div *ngIf="isClientOpen" class="text-start">
      <p>
        <strong>CPF:</strong> {{ cliente?.cpf }}<br />
        <strong>Email:</strong> {{ cliente?.email }}<br />
        <strong>Telefone:</strong> {{ cliente?.telefone }}<br />
        <strong>Endereço:</strong> {{ cliente?.endereco }}
      </p>
    </div>
    <hr />
    <div>
      <h6 class="subtituloRosa">DATA E HORA</h6>
      <p>{{ solicitacao.data }}</p>
    </div>
    <hr />

    <div class="position-relative">
      <div>
        <h6 class="subtituloRosa">EQUIPAMENTO</h6>
        <p>{{ equipamento?.nome }}</p>
      </div>
      <button
        class="btnIcon position-absolute end-0 top-50 translate-middle-y"
        (click)="toggleEquipView()"
        title="Visualizar"
      >
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
    <div *ngIf="isEquipOpen" class="text-start">
      <p>
        <strong>Descrição da categoria do equipamento:</strong>
        {{ equipamento?.descricao }}<br />
        <strong>Descrição deste equipamento:</strong>
        {{ solicitacao.descricao }}
      </p>
    </div>
    <hr />
    <div>
      <h6 class="subtituloRosa">DEFEITO</h6>
      <p>{{ solicitacao.defeito }}</p>
    </div>
    <hr />
    <div class="d-flex justify-content-end gap-3 mt-4">
      <a class="btn btnRosaSalmao" routerLink="/adm/home">
        <i class="fa-solid fa-location-arrow btnVoltar"></i>
      </a>
    </div>
  </div>
</div>
