<div class="row">
  <div class="col-md-4">
    <img src="../../../../assets/images/backgroundTitle.png" class="backgroundimg" />
  </div>

  <div class="col-md-8">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Data</th>
          <th>Cliente</th>
          <th>Estado da Solicitação</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let solicitacao of solicitacoes">
          <td>{{ solicitacao.data }}</td>
          <td>{{ solicitacao.idCliente }}</td>
          <td>{{ solicitacao.estado }}</td>
          <td class="text-center">
            <a class="btn btn-lg btn-rosa-cha" title="Orçar">Efetuar Orçamento</a>
          </td>
          <td class="text-center">
            <a class="btn btn-lg btn-rosa-cha" [routerLink]="['/adm/solicitacao/visualizar', solicitacao.id]"
              title="Visualizar">
              <i class="fa-solid fa-eye" aria aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="solicitacoes.length === 0">Nenhuma Solicitação Cadastrada.</p>
  </div>
  <div class="row text-center mt-4" id="relatorio">
    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
      <h2>EMITIR<br />RELATÓRIO<br />FINANCEIRO</h2>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <a class="btn btn-lg btn-creme w-75" title="Data" (click)="abrirModalRelatorioReceitas()"> Receitas </a>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <a class="btn btn-lg btn-azul2 w-75" title="Data" (click)="gerarRelatorioReceitasPorCategoria()"> Receitas por
        Categoria </a>
    </div>
  </div>
  <div class="text-center align-items-center">
    <div class="col-md-4 d-flex flex-column">
      <h2>Solicitações</h2>
      <i class="fa-solid fa-screwdriver-wrench" id="iconhome"></i>
      <a class="btn btn-lg btn-creme " title="Categoria"> Minhas Atribuições </a>
      <a class="btn btn-lg btn-azul2" title="Categoria"> Visualizar Todas </a>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex flex-column">
        <h2>Equipamentos</h2>
        <i class="fa-solid fa-computer" id="iconhome"></i>
        <a class="btn btn-lg btn-creme" [routerLink]="['/adm/equipamentos']" title="Visualizar Equipamentos">
          Visualizar
        </a>
        <a class="btn btn-lg btn-azul2" [routerLink]="['/adm/equipamentos/novo']" title="Novo Equipamento">
          Cadastrar Novo
        </a>
      </div>
      <div class="col-md-4 d-flex flex-column">
        <h2>Funcionários</h2>
        <i class="fa-solid fa-users" id="iconhome"></i>
        <a class="btn btn-lg btn-creme" [routerLink]="['/adm/funcionarios']" title="Visualizar Funcionários">
          Visualizar
        </a>
        <a class="btn btn-lg btn-azul2" [routerLink]="['/adm/funcionarios/novo']" title="Novo Funcionário">
          Cadastrar Novo
        </a>
      </div>
    </div>
  </div>
</div>