<h1>Detalhes da Solicitação</h1>
<h2>Data da Solicitação:</h2>
<p> {{ solicitacao.data }} </p>
<h2>Tipo de equipamento:</h2>
<p>{{ solicitacao.equipamento }}</p>
<h2>Descrição do equipamento:</h2>
<p>{{ solicitacao.descricao}}</p>
<h2>Descrição do defeito:</h2>
<p>{{ solicitacao.defeito}}</p>
<h2>Estado da Solicitação:</h2>
<p>{{ solicitacao.estado}}</p>
<div class="row">
    <a class="btn btn-secondary" title="Voltar" routerLink="/client/home">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
</div>
