

<div class="row">

    <div class="col-md-6">
        <div *ngIf="solicitacao.estado !== 'ABERTA'" id="boxOrçamento">
            <h3>Valor</h3>
            <h4>R$</h4>
        </div>
        <div class="d-flex flex-column">
            <a *ngIf="solicitacao.estado === 'ORÇADA'" class="btn btn-xs btn-info" title="Aprovar" (click)="aprovar($event)">
                <i class="fa-solid fa-circle-check"></i>&nbsp;&nbsp;Aprovar Serviço
            </a>
            <a *ngIf="solicitacao.estado === 'ORÇADA'" class="btn btn-xs btn-info" title="Recusar" (click)="recusar()">
                <i class="fa-solid fa-circle-xmark"></i>&nbsp;&nbsp;Recusar Serviço
            </a>
            <a *ngIf="solicitacao.estado === 'REJEITADA'" class="btn btn-xs btn-info" title="Resgatar" (click)="resgatar($event)">
                <i class="fa-solid fa-trash-arrow-up"></i>&nbsp;&nbsp;Resgatar Serviço
            </a>
            <a *ngIf="solicitacao.estado === 'ARRUMADA'" class="btn btn-xs btn-info" title="Pagar" (click)="pagar($event)">
                <i class="fa-solid fa-money-check-dollar"></i>&nbsp;&nbsp;Pagar Serviço
            </a>
            <div>
                <a class="btn btn-xs btn-info" title="Histórico" (click)="toggleHist()">
                    <i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Histórico
                </a>
                <div *ngIf="isHistOpen">
                    <p style="white-space: pre-line;"> {{solicitacao.historico}} </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h1>Detalhes da Solicitação</h1>

        <hr>
        <h4>Data da Solicitação</h4>
        <p> {{ solicitacao.data }} </p>
        <hr>
        <div class="row">
            <div class="col-auto">
                <h4>Equipamento</h4>
                <p>{{ solicitacao.equipamento }}</p>
            </div>
            <div class="col-auto">
                <a class="btn btn-xs btn-info" title="Visualizar" (click)="toggleEquip()">
                    <i class="fa-solid fa-eye" aria aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div *ngIf="isEquipOpen">
            <h5>Detalhes</h5>
            <p>Teste</p>
        </div>
        <hr>
        <h4>Descrição do defeito</h4>
        <p>{{ solicitacao.defeito}}</p>
        <hr>
        <h4>Estado da Solicitação</h4>
        <p>{{ solicitacao.estado}}</p>
        <hr>

        <a class="btn btn-secondary" title="Voltar" routerLink="/client/home">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
    </div>
</div>
