<div class="row bg-creme">
  <div class="col-md-6 d-flex flex-column align-items-center text-center gap-3">
    <div *ngIf="solicitacao.estado !== 'ABERTA'" id="boxOrcamento" class="border-rosa-salmao">
      <h3 class="titulo-box">Valor</h3>
      <h4 class="valor-box">{{ orcamento?.valor | currency: "BRL" }}</h4>
      <!-- <p class ="detalhe-box">{{orcamento?.ultimaatualizacao }}</p> -->
    </div>

    <div *ngIf="solicitacao.manutencao && solicitacao.manutencao.trim() !== ''" id="boxServico" >
      <h4>Serviços Realizados</h4>
      <p>{{ solicitacao.manutencao }}</p>
      <h4>Orientações</h4>
      <p>{{ solicitacao.mensagem }}</p>
    </div>

    <div class="d-flex flex-column w-100 gap-2">
      <div *ngIf="solicitacao.estado === 'ORÇADA'">
        <a class="btn btn-xs btn-rosa-salmao w-100" title="Aprovar" (click)="aprovar($event)">
          <i class="fa-solid fa-circle-check"></i>&nbsp;&nbsp;Aprovar Serviço
        </a>
      </div>

      <div *ngIf="solicitacao.estado === 'ORÇADA'">
        <a class="btn btn-xs btn-creme w-100" title="Recusar" (click)="abrirModal()">
          <i class="fa-solid fa-circle-xmark"></i>&nbsp;&nbsp;Recusar Serviço
        </a>
      </div>

      <app-modal
        #Modal
        [modalTitle]="currentModalTitle"
        [contentTemplate]="currentContentTemplate"
        [templateContext]="{ formData: currentFormData }"
        (confirmed)="handleConfirmation($event)">
      </app-modal>

      <ng-template #rejectTemplate let-formData="formData">
        <form #form="ngForm">
          <div class="mb-3">
            <label>Motivo da Recusa</label>
            <textarea
              class="form-control"
              [(ngModel)]="formData.reason"
              name="reason"
              required>
            </textarea>
          </div>
        </form>
      </ng-template>

      <div *ngIf="solicitacao.estado === 'REJEITADA'" class="w-100">
        <a class="btn btn-xs btn-creme  btn-info w-100" title="Resgatar" (click)="resgatar($event)">
          <i class="fa-solid fa-trash-arrow-up"></i>&nbsp;&nbsp;Resgatar Serviço
        </a>
      </div>

      <div *ngIf="solicitacao.estado === 'ARRUMADA'" class="w-100">
        <a class="btn btn-xs btn-info w-100" title="Pagar" (click)="pagar($event)">
          <i class="fa-solid fa-money-check-dollar"></i>&nbsp;&nbsp;Pagar Serviço
        </a>
      </div>

      <div class="w-100">
        <a class="btn btn-xs btn-rosa-salmao w-100" title="Histórico" (click)="toggleHist()">
          <i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Histórico
        </a>
        <div *ngIf="isHistOpen">
          <p style="white-space: pre-line">{{ solicitacao.historico }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Coluna da direita permanece igual -->
  <div class="col-md-6 detalhes-solicitacao text-center boxOrcamento" id="boxOrcamento">
    <h1>DETALHES DA<br>SOLICITAÇÃO</h1>
    <hr>

    <div>
      <h6 class="titulo">ESTADO</h6>
      <p>{{ solicitacao.estado }}</p>
    </div>
    <hr>

    <div>
      <h6 class="titulo">DATA E HORA</h6>
      <p>{{ solicitacao.data }}</p>
    </div>
    <hr>

    <div class="equipamento-box">
      <h6 class="titulo">EQUIPAMENTO</h6>
      <p class="equipamento-nome">{{ equipamento?.nome }}</p>
      <button class="btn btn-xs btn-rosa-cha icon-olho" (click)="toggleEquip()" title="Visualizar">
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>

    <div *ngIf="isEquipOpen" class="mt-3">
      <p>
        <strong>Descrição da categoria do equipamento:</strong>
        {{ equipamento?.descricao }}
      </p>
      <p>
        <strong>Descrição deste equipamento:</strong>
        {{ solicitacao.descricao }}
      </p>
    </div>
    <hr>

    <div>
      <h6 class="titulo">DEFEITO</h6>
      <p>{{ solicitacao.defeito }}</p>
    </div>
    <hr>

    <a class="btn btn-voltar" routerLink="/client/home">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
  </div>
</div>
