#visualizarsolicitacao {
    padding: 15px;
}

.detalhes-box {
    font-family: "DejaVu Serif";
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 1px;
}

.titulo-box {
    font-family: "DejaVu Serif";
    color: var(--primary-color-dark);
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
}