/*
Cores:
Azul 1: #1e3542
Azul 2: #3f5f72
Creme: #fff8e6
Rosa salmão: #e4a18f
Rosa chá: #b84c65

Fontes:
Titulos: Blackest text regular
Texto 1: DejaVu Serif
Texto 2: DM sans regular
*/
body {
    background-color: #3f5f72;
}

.texto {
    font-family: "DejaVu Serif";
    color: #e4a18f;  
}