<div class="row mainAzul">
  <div class="col-md-6 containerTituloPagina">
    <img
      src="../../../../assets/images/backgroundTitle.png"
      class="imgFundoTitulo"
    />
    <div class="tituloPagina"><h1>Login</h1></div>
  </div>

  <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-lg-5">
          <div>
            <h5 class="subtitulo">Acesse sua conta</h5>

            <form #formLogin="ngForm">
              <div>
                <label for="email" class="form-label">E-mail</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  [(ngModel)]="emailModel"
                  #email="ngModel"
                  required
                  email
                />
                <div
                  *ngIf="email.errors && (email.dirty || email.touched)"
                  class="alert alert-danger"
                >
                  <div [hidden]="!email.errors['required']">
                    Digite um email.
                  </div>
                  <div [hidden]="!email.errors['email']">
                    Digite um email válido.
                  </div>
                </div>
              </div>

              <div>
                <label for="senha" class="form-label">Senha</label>
                <input
                  type="password"
                  class="form-control"
                  id="senha"
                  name="senha"
                  minlength="4"
                  [(ngModel)]="senhaModel"
                  #senha="ngModel"
                  required
                  (keydown.enter)="login()"
                />
                <div
                  *ngIf="senha.invalid && (senha.dirty || senha.touched)"
                  class="alert alert-danger"
                >
                  <div *ngIf="senha.errors?.['required']">
                    Digite uma senha.
                  </div>
                  <div *ngIf="senha.errors?.['minlength']">
                    A senha deve conter ao menos 4 caracteres.
                  </div>
                </div>
              </div>

              <div class="d-grid">
                <button
                  type="button"
                  class="btn btnRosaSalmao"
                  (click)="login()"
                  [disabled]="!formLogin.form.valid"
                >
                  Entrar
                </button>
              </div>
              <div class="text-center">
                <a href="#" class="textLink">Esqueceu a senha?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
