<div id="login" class="row">
  <div class="col-md-6" id="containerImagem">
    <img
      src="../../../../assets/images/backgroundTitle.png"
      class="backgroundimg"
    />
    <div id="tituloImagem"><h1>Login</h1></div>
  </div>

  <div class="col-md-6 d-flex justify-content-center">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <div>
            <p class="text-center bold-creme mb-4">Acesse sua conta</p>

            <form #formLogin="ngForm">
              <div class="mb-3">
                <label for="email" class="form-label bold-creme">E-mail</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  [(ngModel)]="emailModel"
                  #email="ngModel"
                  required
                  email
                />
                <div
                  *ngIf="email.errors && (email.dirty || email.touched)"
                  class="alert alert-danger"
                >
                  <div [hidden]="!email.errors['required']">
                    Digite um email.
                  </div>
                  <div [hidden]="!email.errors['email']">
                    Digite um email válido.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="senha" class="form-label bold-creme">Senha</label>
                <input
                  type="password"
                  class="form-control"
                  id="senha"
                  name="senha"
                  minlength="4"
                  [(ngModel)]="senhaModel"
                  #senha="ngModel"
                  required
                  (keydown.enter)="login()"
                />
                <div
                  *ngIf="senha.invalid && (senha.dirty || senha.touched)"
                  class="alert alert-danger"
                >
                  <div *ngIf="senha.errors?.['required']">
                    Digite uma senha.
                  </div>
                  <div *ngIf="senha.errors?.['minlength']">
                    A senha deve conter ao menos 6 caracteres.
                  </div>
                </div>
              </div>

              <div class="d-grid mb-3">
                <button
                  type="button"
                  class="btn botao2 botaorosa"
                  (click)="login()"
                  [disabled]="!formLogin.form.valid"
                >
                  Entrar
                </button>
              </div>
              <div class="text-center">
                <a href="#" class="small rosa-salmao">Esqueceu a senha?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
