#listarsolicitacao {
  background-color: var(--azul2);
  padding: 15px;
}

#tabelasolicitacao {
  font-family: "DejaVu Serif";
  background-color: var(--azul2);
}

.bola-status {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 4px;
}
