<div id="listarsolicitacao" class="row">
  <div class="col-md-4" id="containerImagem">
    <img
      src="../../../../assets/images/backgroundTitle.png"
      class="backgroundimg"
    />
    <div id="tituloImagem"><h1>Solicitações</h1></div>
  </div>

  <div id="tabelasolicitacao" class="col-md-8">
    <div style="display: flex; justify-content: right;">
    <a
      class="btn btn-xs botao1"
      title="Filtrar"
      (click)="toggleFilter()"
    >
      <i class="fa-solid fa-filter"></i>
    </a>
    <a
      *ngIf="dataMinima !== ''"
      class="btn btn-xs botao1"
      title="Limpar Filtro"
      (click)="limparFiltro()"
    >
      <i class="fa-solid fa-filter-circle-xmark"></i>
  </a>
  </div>
    <div id="filtro" class="mb-3" *ngIf="isFilterOpen">
      <label for="dataMinima">Filtrar a partir de:</label>
      <input
        type="date"
        class="form-control"
        id="dataMinima"
        [(ngModel)]="dataMinima"
        (change)="filtrarPorData()"
      />
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Data</th>
          <th>Cliente</th>
          <th>Estado da Solicitação</th>
          <th>Descrição</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let solicitacao of solicitacoes">
          <td>
            <span
              class="bola-status"
              [style.background-color]="getCorStatus(solicitacao.estado)"
            ></span>
          </td>
          <td>{{ solicitacao.data }}</td>
          <td>{{ buscarNomeCliente(solicitacao.idCliente) }}</td>
          <td>{{ solicitacao.estado }}</td>
          <td>{{ solicitacao.descricao }}</td>
          <td class="text-center" style="border-right: 0;">
            <a
              *ngIf="solicitacao.estado === 'ABERTA'"
              class="btn btn-xs btn-rosa-cha"
              [routerLink]="['/adm/solicitacao/visualizar', solicitacao.id]"
              title="Orçar"
              >Realizar Orçamento</a
            >
            <a
              *ngIf="
                solicitacao.estado === 'APROVADA' ||
                solicitacao.estado === 'REDIRECIONADA'
              "
              [routerLink]="['/adm/solicitacao/visualizar', solicitacao.id]"
              class="btn btn-xs btn-rosa-cha"
              title="Consertar"
              >Realizar Manutenção</a
            >
            <a
              *ngIf="solicitacao.estado === 'PAGA'"
              class="btn btn-xs btn-rosa-cha"
              (click)="this.finalizar(solicitacao)"
              title="Finalizar"
              >Finalizar Solicitação</a
            >
          </td>
          <td class="text-center" style="border-left: 0;">
            <a
              class="btn btn-xs icon-olho"
              [routerLink]="['/adm/solicitacao/visualizar', solicitacao.id]"
              title="Visualizar"
            >
              <i class="fa-solid fa-eye" aria aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="solicitacoes.length === 0">Nenhuma Solicitação Cadastrada.</p>
  </div>
</div>
