/* You can add global styles to this file, and also import other style files */
main {
    min-height: 50vw;
}

.menu2 {
    text-align: center;
    background-color: pink;
    color: white;   
    font-family: 'Times New Roman','Times','serif';
}