/* You can add global styles to this file, and also import other style files */
/*
Cores:
Azul 1: #1e3542
Azul 2: #3f5f72
Creme: #fff8e6
Rosa salmão: #e4a18f
Rosa chá: #b84c65

Fontes:
Titulos: Blackest text regular
Texto 1: DejaVu Serif
Texto 2: DM sans regular
*/


@font-face {
  font-family: "Blackest";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Blackest\ Regular.woff") format("woff");
}

@font-face {
  font-family: "Blackest Text";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Blackest\ Text\ Regular.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/DMSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/DMSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/DMSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: bold;
  src: url("./assets/fonts/DMSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "DejaVu Serif";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/DejaVuSerif.woff") format("woff");
}

@font-face {
  font-family: "DejaVu Serif";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/DejaVuSerif-Italic.woff") format("woff");
}

@font-face {
  font-family: "DejaVu Serif";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/DejaVuSerif-Bold.woff") format("woff");
}

@font-face {
  font-family: "DejaVu Serif";
  font-style: italic;
  font-weight: bold;
  src: url("./assets/fonts/DejaVuSerif-BoldItalic.woff") format("woff");
}

#boxServico {
  border: 1px solid var(--rosa-salmao);
  border-radius: 20px;
  padding: 30px;
  margin: 5px;
}

#boxOrcamento {
  border-radius: 20px;
  padding: 15px 3rem;
  border: var(--rosa-salmao) solid 2px;
}

/*
main {
  min-height: 50vw;
  padding: 3vw; 
  padding: 0.1vw 1vw;
  background-color: var(--azul2);
  color: white;
}
*/

:root {
  /*cores principais*/
  --primary-color: #e4a18f;
  --primary-color-dark: #b84c65;
  --accent-color: #f9e3ec;
  /*cores de apoio*/
  --background-color: #fff8e6;
  --secondary-color: #e4a18f;
  --text-color: #1e3542;
  /*cores de botões*/
  --button-hover1: #e4a18fd5;
  --button-hover2: #b84c65d5;
  --border-color: #e4a9c2;
  --azul1: #1e3542;
  --azul2: #3f5f72;
  --creme: #fff8e6;
  --rosa-salmao: #e4a18f;
  --rosa-cha: #b84c65;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

header {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.azul2 {
    font-family: "Blackest Text Regular";
    color: #1e3542
  }

.titulo {
  font-family: "Blackest Text Regular";
  color: #1e3542;
  font-size: 55px;
  margin-bottom: 2rem;
  text-align: center;
}

.texto-descricao {
  font-family: "Blackest Text Regular";
  color: #1e3542;
  font-size: 20px;
  margin-bottom: 0.5%;
  text-align: center;
}

.botao1 {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao2 {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color-dark);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: var(--background-color);
}

.botao1:hover {
  color: var(--background-color);
  background-color: var(--button-hover1);
  transform: scale(1.05);
}

.botao2:hover {
  background-color: var(--button-hover2);
  transform: scale(1.05);
}

.button:secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn {
  margin: 5px;
  border-radius: 15px;
}

.backgroundimg {
  max-width: 600px;
  width: 80%;
}

.bg-creme {
  background-color: var(--creme);
  color: var(--azul1);
}

.rosa-cha {
  color: var(--rosa-cha);
}

.rosa-salmao {
  color: var(--rosa-salmao);
}
.rosa-salmao a {
  color: var(--rosa-salmao);
  text-decoration: underline;
}

.botaorosa {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.botaobranco {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--background-color);
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  color: var(--text-color);
}

.botaorosa:hover {
  color: var(--text-color);
  background-color: var(--button-hover1);
  transform: scale(1.05);
}

.botaobranco:hover {
  background-color: var(--button-hover2);
  transform: scale(1.05);
}

.btn-rosa-salmao {
  background-color: var(--rosa-salmao);
  color: var(--creme);
  border: none;
  padding: 0.4rem 1.2rem;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.9rem;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.btn-rosa-salmao:hover {
  background-color: var(--rosa-cha);
  color: var(--creme);
  transform: scale(1.05);
}

.btn-rosa-salmao:active {
  background-color: var(--creme);
  transform: scale(0.95);
}

.btn-creme {
  border-color: var(--rosa-cha);
  background-color: var(--creme);
  color: var(--azul1);
}

.btn-creme:hover {
  background-color: var(--azul2);
  color: var(--creme);
  transform: scale(1.05);
  border: 2px solid var(--creme);
}

.btn-rosa-cha[disabled] {
  background-color: var(--rosa-cha) !important; /* cor alternativa mais clara */
  border-color: var(--rosa-cha) !important;
  color: var(--creme) !important;
  cursor: not-allowed !important;
  opacity: 0.7;
}

.btn-rosa-salmao[disabled] {
  background-color: var(
    --rosa-salmao
  ) !important; /* cor alternativa mais clara */
  border-color: var(--rosa-salmao) !important;
  color: var(--creme) !important;
  cursor: not-allowed !important;
  opacity: 0.7;
}

.btn-azul2 {
  border-color: var(--creme);
  background-color: var(--azul2);
  color: var(--creme);
}

.btn-azul2:hover {
  background-color: var(--creme);
  color: var(--azul2);
  transform: scale(1.05);
}

button:secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn {
  margin: 5px;
  border-radius: 15px;
}

.btn-rosa-cha {
  background-color: var(--rosa-cha);
  color: var(--creme);
  border: none;
  padding: 0.4rem 1.2rem;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.9rem;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.btn-rosa-cha:hover {
  background-color: var(--rosa-cha);
  color: var(--creme);
  transform: scale(1.05);
}

.btn-rosa-cha:active {
  background-color: var(--creme);
  transform: scale(0.95);
}

.backgroundimg {
  max-width: 600px;
  width: 80%;
}

/* Tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--rosa-cha);
  font-size: 1rem;
  margin-top: 1rem;
}

.table thead th {
  background-color: var(--rosa-salmao);
  color: var(--creme);
  font-size: 1.2rem;
  text-align: center;
  padding: 0.75rem;
  border: 1px solid var(--rosa-cha);
  font-weight: bold;
}

.table tbody td {
  color: var(--azul2);
  background-color: var(--creme);
  padding: 0.75rem;
  border: 1px solid var(--rosa-cha);
  text-align: center;
  vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(even) td {
  background-color: var(--rosa-salmao);
  color: var(--creme);
}

.detalhes-solicitacao h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: var(--azul1);
  margin-bottom: 0.1rem;
}

.detalhes-solicitacao hr {
  border-top: 1px solid var(--border-color);
  width: 100%;
}

.detalhes-solicitacao .titulo {
  color: var(--rosa-cha);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-bottom: 0.1rem;
}

.detalhes-solicitacao p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: var(--azul2);
}

.icon-olho,
.icon-olho:hover {
  font-size: 1.2rem;
  color: var(--rosa-cha);
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
.btn-voltar {
  background-color: transparent;
  color: var(--rosa-cha);
  font-size: 1.8rem;
  border: none;
}

.titulo-box {
  color: var(--rosa-cha);
  font-weight: bold;
  letter-spacing: 1px;
}

.valor-box {
  color: var(--azul2);
  font-weight: 700;
}

.border-rosa-salmao {
  border: 2px solid var(--rosa-salmao);
  margin-top: 1.5rem;
}

.bg-rosa-salmao {
  background-color: var(--rosa-salmao);
}

.burgue {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35px;
  width: 35px;
  padding: 0;
  position: relative;
  z-index: 1000;
  min-width: 35px;
  min-height: 35px;
}

.burgue span {
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #1d1d1d;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.burgue span:nth-child(1) {
  top: 6px;
}

.burgue span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burgue span:nth-child(3) {
  bottom: 6px;
}

.menu-col.show ~ header .burgue span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menu-col.show ~ header .burgue span:nth-child(2) {
  opacity: 0;
}

.menu-col.show ~ header .burgue span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.menu-col {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--rosa-salmao);
  font-family: "DejaVu Serif";
  text-align: end;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.menu-col a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--creme);
  transition: background-color 0.3s ease-in-out;
  text-align: end;
}   

.menu-col.show {
  transform: translateX(0);
}
.menu-itens div {
  margin: 10px 0;
}

button {
  margin: 5px;
}

@media (max-width: 768px) {
  .menu-col {
    width: 100vw;
  }
}

.bold-creme {
  font-weight: bold;
  color: var(--creme);
}
