/* You can add global styles to this file, and also import other style files */
/*
Cores:
Azul 1: #1e3542
Azul 2: #3f5f72
Creme: #fff8e6
Rosa salmão: #e4a18f
Rosa chá: #b84c65

Fontes:
Titulos: Blackest text regular
Texto 1: DejaVu Serif
Texto 2: DM sans regular
*/

@font-face {
  font-family: "Blackest";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Blackest\ Regular.woff") format("woff");
}

@font-face {
  font-family: "Blackest Text";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Blackest\ Text\ Regular.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/DMSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/DMSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/DMSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: bold;
  src: url("./assets/fonts/DMSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "DejaVu Serif";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/DejaVuSerif.woff") format("woff");
}

@font-face {
  font-family: "DejaVu Serif";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/DejaVuSerif-Italic.woff") format("woff");
}

@font-face {
  font-family: "DejaVu Serif";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/DejaVuSerif-Bold.woff") format("woff");
}

@font-face {
  font-family: "DejaVu Serif";
  font-style: italic;
  font-weight: bold;
  src: url("./assets/fonts/DejaVuSerif-BoldItalic.woff") format("woff");
}

:root {
  /*cores principais*/
  --primary-color: #e4a18f;
  --primary-color-dark: #b84c65;
  --accent-color: #f9e3ec;
  /*cores de apoio*/
  --background-color: #fff8e6;
  --secondary-color: #e4a18f;
  --text-color: #1e3542;
  /*cores de botões*/
  --button-hover1: #e4a18fd5;
  --button-hover2: #b84c65d5;
  --border-color: #e4a9c2;
  --font-family: 'Poppins', sans-serif;
}

/*main {
  min-height: 50vw;
  padding: 3vw;
  background-color: #fff8e6;
  color: white;
}*/

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

header {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#esquerda {
  background: var(--background-color);
}

#direita {
  background: var(--primary-color);
}

.titulo{
  font-family: "Blackest Text Regular";
  color: #1e3542
}

.subtitulo{
  font-family: "DM Sans Regular";
  color: #1e3542
}

.botao1 {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao2 {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color-dark);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: var(--background-color);
}

.botao1:hover {
  color: var(--background-color);
  background-color: var(--button-hover1);
  transform: scale(1.05);
}

.botao2:hover {
  background-color: var(--button-hover2);
  transform: scale(1.05);
}

.button:secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn {
  margin: 5px;
  border-radius: 15px;
}

.backgroundimg {
  max-width: 600px;
  width: 80%;
}