<div class="row">
<div class="col-md-6">
<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h1 >Manutenção de Equipamentos</h1>
    <img src="../../../../assets/images/smalldecor.png" alt="decor" id="smalldecor">
    <p>Faça login ou cadastre-se gratuitamente para solicitar sua manutenção</p>
    <div class="d-grid gap-3" style="width: 100%; max-width: 300px;">
        <a routerLink="/auth/login" class="btn btn-primary btn-lg botaorosa" routerLinkActive="active">Login</a>
        <a routerLink="/auth/cadastro" class="btn btn-outline-primary btn-lg botaobranco">Cadastrar</a>
    </div>
</div>
</div>
<div class="col-md-6">
    <img src="../../../../assets/images/bigdecor.png" alt="decor" id="bigdecor">
</div>
</div>