<div class="container-fluid">
  <div class="row">
    <!-- Lado esquerdo -->
    <div
      class="col-md-6 d-flex flex-column align-items-center mainCreme"
    >
      <h1 class="tituloGrande">MANUTENÇÃO<br />DE<br />EQUIPAMENTOS</h1>
      <img
        src="../../../../assets/images/smalldecor.png"
        alt="decor"
        id="smallDecor"
      />
      <p>
        Faça login ou cadastre-se<br />
        gratuitamente para solicitar sua<br />manutenção
      </p>
      <div>
        <a
          routerLink="/auth/login"
          class="btn btnRosaSalmao btnAcao"
          routerLinkActive="active"
          >LOGIN</a
        >
        <a
          routerLink="/auth/cadastro"
          class="btn btnRosaCha btnAcao"
          routerLinkActive="active"
          >CADASTRO</a
        >
      </div>
    </div>
    
    <!-- Lado direito -->
    <div class="col-md-6 homeImgDecoracao">
      <img
        src="../../../../assets/images/bigdecor.png"
        alt="decor"
        class="bigDecor"
      />
    </div>
  </div>
</div>
