<div class="container-fluid p-0">
  <div class="row g-0 min-vh-90">
    <!-- Lado esquerdo -->
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mainCreme">
      <h1 style="font-size: 2.7rem; font-family: 'Blackest Text'; color: #3f5f72;">MANUTENÇÃO<br />DE<br />EQUIPAMENTOS</h1>
      <img
        src="../../../../assets/images/smalldecor.png"
        alt="decor"
        id="smalldecor"
      />
      <p>
        Faça login ou cadastre-se<br />
        gratuitamente para solicitar sua<br />manutenção
      </p>
      <div class="d-grid mt-4">
        <a
          routerLink="/auth/login"
          class="btn btnRosaSalmao btnAcao"
          routerLinkActive="active"
          >LOGIN</a
        >
        <a
          routerLink="/auth/cadastro"
          class="btn btnRosaCha btnAcao"
          routerLinkActive="active"
          >CADASTRO</a
        >
      </div>
    </div>
    <!-- Lado direito -->
    <div class="col-md-6 homeImgDecoracao">
      <img
        src="../../../../assets/images/bigdecor.png"
        alt="decor"
        class="img-fluid"
      />
    </div>
  </div>
</div>
