
  .btn-info {
    background-color: #8B3A4D;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin-right: 0.5rem;
  }
  
  .btn-info:hover {
    background-color: #732c3e;
  }
  
  .btn-danger {
    background-color: #b34d4d;
    border: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #912f2f;
  }
  
