<div class="row mainAzul">
  <div class="col-md-4 containerTituloPagina">
    <img
      src="../../../../assets/images/backgroundTitle.png"
      class="imgFundoTitulo"
    />
    <div class="tituloPagina"><h1>Equipamentos</h1></div>
  </div>
  <div class="col-md-8">
    <div class="d-flex justify-content-end">
      <a
        class="btn btnRosaSalmao"
        [routerLink]="['/adm/equipamentos/novo']"
        title="Novo Cadastro"
      >
        <i class="fa-solid fa-plus" aria aria-hidden="true"></i>&nbsp;&nbsp;Novo
        Cadastro
      </a>
    </div>
    <div *ngIf="equipamentos.length !== 0" class="containerTabela">
      <div class="tabela">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th colspan="2">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipamento of equipamentos">
              <td>{{ equipamento.nome }}</td>
              <td>{{ equipamento.descricao }}</td>
              <td>
                <a
                  href="#"
                  title="Editar"
                  alt="Editar"
                  class="btnIcon"
                  [routerLink]="['/adm/equipamentos/editar', equipamento.id]"
                >
                  <i class="fa-solid fa-pen-nib" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a
                  href="#"
                  title="Remover"
                  alt="Remover"
                  class="btnIcon"
                  (click)="remover($event, equipamento)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p *ngIf="equipamentos.length === 0" class="tituloPequeno mt-5">Nenhum Equipamento Cadastrado.</p>
    <div class="d-flex justify-content-end">
      <a class="btn btnRosaSalmao" title="Voltar" routerLink="/adm/home">
        <i class="fa-solid fa-location-arrow btnVoltar"></i>
      </a>
    </div>
  </div>
</div>
