<div class="row mainAzul">
  <div class="col-md-4 containerTituloPagina">
    <img
      src="../../../../assets/images/backgroundTitle.png"
      class="imgFundoTitulo"
    />
    <div class="tituloPagina"><h1>Funcionários</h1></div>
  </div>

  <div class="col-md-8">
    <div class="d-flex justify-content-end">
      <a
        class="btn btnRosaSalmao"
        [routerLink]="['/adm/funcionarios/novo']"
        title="Novo Cadastro"
      >
        <i class="fa-solid fa-plus" aria aria-hidden="true"></i>&nbsp;&nbsp;Novo
        Cadastro
      </a>
    </div>
    <div *ngIf="funcionarios.length !== 0" class="containerTabela">
      <div class="tabela">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Data de Nascimento</th>
              <th colspan="2">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let funcionario of funcionarios">
              <td>{{ funcionario.nome.substring(0, 30) }}{{ funcionario.nome.length > 30 ? '...' : '' }}</td>
              <td>{{ funcionario.email.substring(0, 30) }}{{ funcionario.email.length > 30 ? '...' : '' }}</td>
              <td>{{ funcionario.data | date: 'dd/MM/yyyy' }}</td>
              <td>
                <a
                  class="btnIcon"
                  [routerLink]="['/adm/funcionarios/editar', funcionario.id]"
                  title="Editar"
                >
                  <i class="fa-solid fa-pen-nib" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <button
                  class="btnIcon"
                  [disabled]="funcionario.id === usuario || funcionarios.length === 1" 
                  (click)="remover($event, funcionario)"
                  title="Remover"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p *ngIf="funcionarios.length === 0" class="tituloPequeno mt-5">Nenhum Funcionário Cadastrado.</p>
    <div class="d-flex justify-content-end">
      <a class="btn btnRosaSalmao" title="Voltar" routerLink="/adm/home">
        <i class="fa-solid fa-location-arrow btnVoltar"></i>
      </a>
    </div>
  </div>
</div>
