/* Fundo geral */
body {
    background-color: #8B3A4D !important;
    color: #ffffff;
  }
  
  /* Cabeçalho */
  h1 {
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Container da tabela */
  .p-4 {
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem !important;
  }
  
  /* Tabela */
  .table {
    background-color: #ffffff;
    color: #8B3A4D;
  }
  
  /* Cabeçalho da tabela */
  th {
    background-color: #e8c3d8;
    color: #8B3A4D;
  }
  
  /* Linhas alternadas */
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9eef5;
  }
  
  /* Botões */
  .btn-success {
    background-color: #e8c3d8;
    color: #8B3A4D;
    border-color: #8B3A4D;
    font-weight: bold;
    
  }
  
  .btn-success:hover {
    background-color: #d19bb3;
    color: #ffffff;
  }
  
  .btn-info {
    background-color: #8B3A4D;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin-right: 0.5rem;
  }
  
  .btn-info:hover {
    background-color: #732c3e;
  }
  
  .btn-danger {
    background-color: #b34d4d;
    border: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #912f2f;
  }
  
  /* Mensagem de nenhum dado */
  p {
    color: #ffffff;
    font-style: italic;
    margin-top: 1rem;
    text-align: center;
  }
  